/* src/styles/index.css */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }

  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
